{% extends "base.html" %}{% block contenu %}
<h1>Journaux</h1>
<form method="post" class="ligne"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><input name="code" placeholder="Code" required size="6"><input name="libelle" placeholder="Libellé" required><button>Ajouter</button></form>
<table>{% for j in journaux %}<tr><td>{{ j.code }}</td><td><form method="post" action="{{ url_for('compta.journal_modifier', code=j.code) }}" class="ligne"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><input name="libelle" value="{{ j.libelle }}" size="30"><button>Enregistrer</button></form></td></tr>{% endfor %}</table>{% endblock %}
