{% extends "compta/base.html" %}{% block titre %}Exports des référentiels{% endblock %}{% block contenu %}
<h1>Exports des référentiels</h1>
<div class="barre"><a class="bouton principal" href="{% url 'referentiel_export' 'Parametres' %}">Tout exporter (Parametres.xlsx)</a></div>
<p class="aide">Un fichier Excel par référentiel, téléchargé et copié dans le dossier Exports. Les fichiers des paramètres se modifient dans Excel
et se réimportent tels quels (Administration › Paramètres (Excel), administrateur).</p>
<table class="triable"><tr><th>Référentiel</th><th>Contenu</th><th>Fichier</th></tr>
{% for fichier, nom, aide, _ in referentiels %}<tr><td><b>{{ nom }}</b></td><td>{{ aide }}</td>
<td><a class="bouton" href="{% url 'referentiel_export' fichier %}">{{ fichier }}.xlsx</a></td></tr>{% endfor %}</table>
{% endblock %}
