{% extends "compta/base.html" %}{% load compta %}{% block titre %}{{ cible.username }}{% endblock %}{% block contenu %}
<h1>{{ cible.get_full_name|default:cible.username }}</h1>
<div class="barre">{% bouton_retour %}
<button form="f-util" class="principal">Enregistrer</button></div>
<form method="post" class="carte" id="f-util">{% csrf_token %}
{% if form.non_field_errors %}<ul class="erreurs">{% for e in form.non_field_errors %}<li>{{ e }}</li>{% endfor %}</ul>{% endif %}
<div class="formulaire">{% for f in form %}{% include "compta/_champ.html" %}{% endfor %}</div>
</form>{% endblock %}
